<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="data:,">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>user@w3teal.is-a.dev</title>
		<style>
			{% include 'style.css' %}
		</style>
	</head>

	<body>
		<div id="screen">
			<pre id="header" class="header">
@: @@  @@@@@@@
@  @#        @  W3Teal.is-a.dev
@  @#  @@@@@@@  Version 1.0.1 | 2025-12-28
@  +:  @     @
@@@@@@@@  @@@@

<div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=w3teal" defer></script>
<a href="https://fediring.net/previous?host=w3teal.is-a.dev">« prev</a> | <a href="https://fediring.net/">Fediring</a> <a href="https://fediring.net/random" target="_top">(random)</a> | <a href="https://fediring.net/next?host=w3teal.is-a.dev">next »</a>
<a href="https://baccyflap.com/noai/?prv&s=wtt">« prev</a> | <a href="https://baccyflap.com/noai">no ai webring</a> <a href="https://baccyflap.com/noai/?rnd" target="_top">(random)</a> | <a href="https://baccyflap.com/noai/?nxt&s=wtt">next »</a>
<a href="https://silly.city/prev?user=w3teal">« prev</a> | <a href="https://silly.city/">silly city</a> <a href="https://silly.city/random" target="_top">(random)</a> | <a href="https://silly.city/next?user=w3teal">next »</a>

Usage: help
</pre>
			<pre id="terminal"></pre>
		</div>
		<script>
			{% include 'script.js' %}
		</script>
	</body>

</html>
